<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link href="/index.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico?v=4">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
  </head>
  
  <body>
    <h1 onclick="titleClicked()" id="titleText">{{ page.title }}</h1>
    <script type="text/javascript">
    function titleClicked() {
      document.getElementById("titleText").innerHTML += "!";
      document.body.style.backgroundColor = randomColor();
    }
    </script>
    
    <div class="linksection">
          <a href="http://chroma.zone/" class="blocklink"><span class="linkbutton">Home</span></a>
    </div>
    
    <!--start page content-->
    {{ content }}
    <!--end page content-->

  </body>

</html>
