<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/font.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  
  <body>
    <div class="page-root">
      <div class="nav-box" id="navigation">
        <div class="floating-button-left" id="collapse-nav-button">
          <img src="/assets/collapse-nav.png" width="32" height="32">
        </div>
        <div class="floating-button-left" id="close-nav-button">
          <img src="/assets/close-nav.png" width="32" height="32">
        </div>
        <iframe title="Navigation" frameBorder="0" src="/navigation.html#{{site.baseurl | append: page.url | remove_first: "/" | split: "/" | first}}"></iframe>
      </div>
      <div class="content-box" id="content-box">
        <div class="floating-button-left" id="expand-nav-button">
          <img src="/assets/open-nav.png" width="32" height="32">
        </div>
        <div class="floating-button-left" id="open-nav-button">
          <img src="/assets/open-nav.png" width="32" height="32">
        </div>

        <div class="content">
          <div class="content-header">
            {% for link in page.links %}
              <a class="quick-link" href="{{link.url}}">{{link.title}}</a>
            {% endfor %}
          </div>

{{ content }}

        </div>
      </div>
    </div>
    
    <script src="/home.js"></script>
    <script data-goatcounter="https://chroma-zone.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
